
<section id="infoGeneral" >
    <hr />
    <p class="infoGeneralContent-m infoGeneralContent-g" > 
        Electrical Engineer <a href="https://www.intel.la/">@Intel</a><br>
        Computer Systems Student <a href="https://www.iteso.mx/">@ITESO</a><br>
        Former Ballet Dancer <a href="https://www.royalacademyofdance.org/">@RAD</a><br>            Food Enthusiast<br>
    </p>
</section>

<section id="cover-image">
    <img id="cover" src="/assets/img/cover.jpg" alt="Cover picture" class="image cover-m cover-g">
</section>      

    
<section id="infoGeneral" >
    <p class="infoGeneralContent-m infoGeneralContent-g infoGeneralContent-right" > 
        Electrical Engineer <a href="https://www.intel.la/">@Intel</a><br>
        Computer Systems Student <a href="https://www.iteso.mx/">@ITESO</a><br>
        Former Ballet Dancer <a href="https://www.royalacademyofdance.org/">@RAD</a><br>
        Food Enthusiast<br>
    </p>
    <hr />
</section>


