
<section id="infoGeneral" >
    <hr />
    <p class="infoGeneralContent-m infoGeneralContent-g">  
        I am an Electronic Engineer with an upcoming B.Sc. in Computer Science with expertise in pre-silicon and funtional validation,  web development and testing. <br>
        Colleagues describe me as a progressive, technical, driven, and innovative; someone who can be relied on to offer realistic solutions that deliver effective results.<br>
        I aspire to consistently exceed performance goals and achieve the maximum operational impact in any project I get involved. 
    </p>
</section>

<section id="cover-image">
    <img id="cover" src="/assets/img/cover.jpg" alt="Cover picture" class="image cover-m cover-g">
</section>      

    
<section id="infoGeneral" >
    <p class="infoGeneralContent-m infoGeneralContent-g infoGeneralContent-right" > 
        Electrical Engineer & Computer Systems Student <a href="https://www.iteso.mx/">@Iteso</a><br>
        Web Development  and Testing (1 year experience) <a href="https://www.intel.la/">@Intel</a> & <a href="https://www.microsoft.com/es-mx/">@Microsoft</a> <br>
        Functional Validation (1 year experience) <a href="https://www.intel.la/">@Intel</a> <br>
        Pre-Silicon Validation (3 year experience) <a href="https://firstpass-global.factorial.mx/">@FirstPassGlobal</a> <br>
        English, certified with TOEFL & FCE.<br>
    </p>
    <hr />
</section>


