<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-AU-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Education</title>
        <link rel="stylesheet" href="../dist/css/styles.css">
    </head>

    <body>
        <header>
            Tarea 3 - Education
        </header>
        <main>
            <div class="container">    
                <section id="details">
                    <article id="hobbies" class="box-stroke-m box-stroke-g">
                        <div class="blockTitle">
                            Work
                        </div>
                        <section>
                            <img id="hiking_1" src="../src/img/hiking_1.jpg" alt="Hiking Mount Rainier" class="rectangle-m rectangle-g">
                            <img id="dance" src="../src/img/dance.JPG" alt="Hiking Mount Rainier" class="rectangle-m rectangle-g">
                            <img id="hiking_2" src="../src/img/hicking_2.jpg" alt="Hiking Mount Rainier" class="rectangle-m rectangle-g">
                        </section>
                        <p>
                            FirstPass Global, Intel & Microsoft
                        </p>
                    </article>
                    <article id="food" class="box-stroke-m box-stroke-g" >
                        <div class="blockTitle">
                            College
                        </div>
                        <section>
                            <img id="food_1" src="../src/img/food_1.jpg" alt="Ramen Junichi" class="rectangle-m rectangle-g">
                            <img id="food_2" src="../src/img/food_2.jpg" alt="Ramen Seatle" class="rectangle-m rectangle-g">
                            <img id="food_3" src="../src/img/food_3.jpg" alt="Ramen Koji" class="rectangle-m rectangle-g">
                        </section>
                        <p>
                            Electrical Engineer & Computer Systems Student
                        </p>
                    </article>
                    <article id="pets" class="box-stroke-m box-stroke-g">
                        <div class="blockTitle">
                            Awards
                        </div>
                        <section>
                            <img id="kuro" src="../src/img/kuro.jpg" alt="Black cat" class="rectangle-m rectangle-g">
                            <img id="max" src="../src/img/max.jpg" alt="German shepherd dog" class="rectangle-m rectangle-g">
                            <img id="ambar" src="../src/img/ambar.jpg" alt="Black dog" class="rectangle-m rectangle-g">
                        </section>
                        <p>
                            Technovation Challenge Winner <br> AJIEMS & Andy Grove Scholarship 
                        </p>
                    </article>
                </section>
                <section id="specifics">
                    <article class="col-specifics-g col-specifics-m">
                        <div class="blockTitle" >
                            Hardware Projects
                        </div>
                        <section id="funFacts">
                            <article id="tattoo" class="col-specifics-g col-specifics-m">
                                <img src="../src/img/tattoo.jpg" alt="Tattoo" class="circle-m circle-g">
                                <p>
                                    Robotic Hexapod <br> “MECA Spider”
                                </p>
                            </article>
                            <article id="horror" class="col-specifics-g col-specifics-m">
                                <img src="../src/img/horror.jpg" alt="Horror" class="circle-m circle-g">
                                <p>
                                    SIDS monitoring system <br> "Sabby Tracker"
                                </p>
                            </article>
                        </section>
                    </article>                    
                    <article class="col-specifics-g col-specifics-m">
                        <div class="blockTitle" >
                            Software Projects
                        </div>
                        <section id="dailyLife">
                            <article id="intel" class="col-specifics-g col-specifics-m">
                                <img src="../src/img/intel.jpg" alt="Intel" class="circle-m circle-g">
                                <p>
                                    Biometric Data Acquisition System <br> "Real-time data animation"
                                </p>
                            </article>
                            <article id="iteso" class="col-specifics-g col-specifics-m">
                                <img src="../src/img/iteso.jpg" alt="Iteso" class="circle-m circle-g">
                                <p>
                                    Swimming biomechanics <br> "Training tracker mobile app"
                                </p>
                            </article>
                        </section>
                    </article>
                </section>
            </div>

            
        </main>
        <footer>
            Programación de Aplicaciones de Escritorio - ITESO Primavera 2023
        </footer>
    </body>

</html>