
<section id="projects">
    <article id="software" >
        <div class="blockTitle" >
            Software Projects
        </div>
        <section id="specificProject">
            <article id="tattoo" class="col-projects-g">
                <img src="/assets/img/cover.jpg" alt="Tattoo" class="circle-m circle-g">
                <p>
                    Biomechanical Data Acquisition<br>"Real-time data animation"
                </p>
            </article>
            <article id="horror" class="col-projects-g">
                <img src="/assets/img/cover.jpg" alt="Horror" class="circle-m circle-g">
                <p>
                    Swimming biomechanics<br>"Training tracker mobile app"
                </p>
            </article>
        </section>
    </article>  

    <article id="hardware" >
        <div class="blockTitle" >
            Hardware Projects
        </div>
        <section id="specificProject">
            <article id="tattoo" class="col-projects-g">
                <img src="/assets/img/cover.jpg" alt="Tattoo" class="circle-m circle-g">
                <p>
                    Biomechanical Data Acquisition<br>"Real-time data animation"
                </p>
            </article>
            <article id="horror" class="col-projects-g">
                <img src="/assets/img/cover.jpg" alt="Horror" class="circle-m circle-g">
                <p>
                    Swimming biomechanics<br>"Training tracker mobile app"
                </p>
            </article>
        </section>
    </article>  

    <article id="mixed" >
        <div class="blockTitle" >
            Mixed Projects
        </div>
        <section id="specificProject">
            <article id="tattoo" class="col-projects-g">
                <img src="/assets/img/cover.jpg" alt="Tattoo" class="circle-m circle-g">
                <p>
                    Biomechanical Data Acquisition<br>"Real-time data animation"
                </p>
            </article>
            <article id="horror" class="col-projects-g">
                <img src="/assets/img/cover.jpg" alt="Horror" class="circle-m circle-g">
                <p>
                    Swimming biomechanics<br>"Training tracker mobile app"
                </p>
            </article>
        </section>
    </article>  

</section>