<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-AU-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/fee3aa343d.js" crossorigin="anonymous"></script>
        <title>Daily</title>
        <link rel="stylesheet" href="/assets/dist/css/styles.css">
    </head>

    <body>
        <header>
            Tarea 3 - Daily
        </header>
        <main>
            <div class="container">
                <section id="return">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </section>
                <section id="specifics">
                    <article class="col-specifics-g col-specifics-m">
                        <div class="blockTitle" >
                            Fun Facts
                        </div>
                        <section id="funFacts">
                            <article id="tattoo" class="col-specifics-g col-specifics-m">
                                <img src="/assets/img/tattoo.jpg" alt="Tattoo" class="circle-m circle-g">
                                <p>
                                    I have a teletubbies tattoo
                                </p>
                            </article>
                            <article id="horror" class="col-specifics-g col-specifics-m">
                                <img src="/assets/img/horror.jpg" alt="Horror" class="circle-m circle-g">
                                <p>
                                    I’m a fan of horror and cryptids
                                </p>
                            </article>
                        </section>
                    </article>                    
                    <article class="col-specifics-g col-specifics-m">
                        <div class="blockTitle" >
                            Daily Life
                        </div>
                        <section id="dailyLife">
                            <article id="intel" class="col-specifics-g col-specifics-m">
                                <img src="/assets/img/intel.jpg" alt="Intel" class="circle-m circle-g">
                                <p>
                                    I work at Intel
                                </p>
                            </article>
                            <article id="iteso" class="col-specifics-g col-specifics-m">
                                <img src="/assets/img/iteso.jpg" alt="Iteso" class="circle-m circle-g">
                                <p>
                                    I'm finishing my 2nd degree
                                </p>
                            </article>
                        </section>
                    </article>
                </section>
            </div>

            
        </main>
        <footer>
            Programación de Aplicaciones de Escritorio - ITESO Primavera 2023
        </footer>
    </body>

</html>