<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-AU-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/fee3aa343d.js" crossorigin="anonymous"></script>
        <title>Hobbies</title>
        <link rel="stylesheet" href="/assets/dist/css/styles.css">

    </head>

    <body>
        <header>
            Tarea 3 - Hobbies
        </header>
        <main>
            <div class="container">     
                <section id="return">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </section>        
                <section id="details">
                    <article id="hobbies" class="box-stroke-m box-stroke-g">
                        <div class="blockTitle">
                            Hobbies
                        </div>
                        <section>
                            <img id="hiking_1" src="/assets/img/hiking_1.jpg" alt="Hiking Mount Rainier" class="rectangle-m rectangle-g">
                            <img id="dance" src="/assets/img/dance.JPG" alt="Hiking Mount Rainier" class="rectangle-m rectangle-g">
                            <img id="hiking_2" src="/assets/img/hicking_2.jpg" alt="Hiking Mount Rainier" class="rectangle-m rectangle-g">
                        </section>
                        <p>
                            Dancing, Hiking & Reading
                        </p>
                    </article>
                    <article id="food" class="box-stroke-m box-stroke-g" >
                        <div class="blockTitle">
                            Foodie
                        </div>
                        <section>
                            <img id="food_1" src="/assets/img/food_1.jpg" alt="Ramen Junichi" class="rectangle-m rectangle-g">
                            <img id="food_2" src="/assets/img/food_2.jpg" alt="Ramen Seatle" class="rectangle-m rectangle-g">
                            <img id="food_3" src="/assets/img/food_3.jpg" alt="Ramen Koji" class="rectangle-m rectangle-g">
                        </section>
                        <p>
                            Ramen, Pho and Gyozas
                        </p>
                    </article>
                    <article id="pets" class="box-stroke-m box-stroke-g">
                        <div class="blockTitle">
                            Pets
                        </div>
                        <section>
                            <img id="kuro" src="/assets/img/kuro.jpg" alt="Black cat" class="rectangle-m rectangle-g">
                            <img id="max" src="/assets/img/max.jpg" alt="German shepherd dog" class="rectangle-m rectangle-g">
                            <img id="ambar" src="/assets/img/ambar.jpg" alt="Black dog" class="rectangle-m rectangle-g">
                        </section>
                        <p>
                            2 dogs (Ambar. Max) & 1 cat (Kuro)
                        </p>
                    </article>
                </section>
            </div>

            
        </main>
        <footer>
            Programación de Aplicaciones de Escritorio - ITESO Primavera 2023
        </footer>
    </body>

</html>