<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-AU-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="/assets/dist/css/styles.css">
    </head>

    <body>
        <header>
            Tarea 3 - Home
        </header>
        <main>
            <div class="container">
                <section id="overview" >
                    <div class="pageTitle-m pageTitle-g">
                        Hi, I'm Lilia<br>Lobato
                    </div>
                    <hr />
                    <p class="overviewContent-m overviewContent-g" > 
                        Electrical Engineer <a href="https://www.intel.la/">@Intel</a><br>
                        Computer Systems Student <a href="https://www.iteso.mx/">@ITESO</a><br>
                        Former Ballet Dancer <a href="https://www.royalacademyofdance.org/">@RAD</a><br>
                        Food Enthusiast<br>
                    </p>
                </section>
                <section id="cover-image">
                    <img id="cover" src="/assets/img/cover.jpg" alt="Cover picture" class="image cover-m cover-g">
                </section>                               
                <section id="menu">
                    <article class="col-menu-g col-menu-m">
                        <a href="/hobbies?token=706937" style="display:block; text-decoration: none;">
                            <div id="hobbies" class="blockTitle" >
                                Hobbies
                            </div>                   
                        </a>    
                    </article>                
                    <article class="col-menu-g col-menu-m">
                        <a href="/daily?token=706937" style="display:block; text-decoration: none;">
                            <div id="daily" class="blockTitle" >
                                Daily Life
                            </div>                
                        </a>    
                    </article>                   
                    <article class="col-menu-g col-menu-m">                        
                        <a href="/education?token=706937" style="display:block; text-decoration: none;">
                            <div id="education" class="blockTitle" >
                                Education
                            </div>                
                        </a>    
                    </article>
                </section>
            </div>

            
        </main>
        <footer>
            Programación de Aplicaciones de Escritorio - ITESO Primavera 2023
        </footer>
    </body>

</html>