<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-AU-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Not Authenticated</title>
        <link rel="stylesheet" href="/assets/dist/css/styles.css">
    </head>

    <body>
        <header>
            Tarea 3 - Not Authenticated
        </header>
        <main>
            <div class="container">
                <section id="overview" >
                    <div class="pageTitle-m pageTitle-g">
                        401 Not Authenticated
                    </div>
                    <hr />
                    <p class="overviewContent-m overviewContent-g" > 
                        Freeze Punk! You are not authenticated! <br> Try using <a href="/?token=706937" >706937</a> as the token.
                    </p>
                </section>
            </div>

            
        </main>
        <footer>
            Programación de Aplicaciones de Escritorio - ITESO Primavera 2023
        </footer>
    </body>

</html>