$font-family: Verdana, Tahoma, sans-serif; 

$font-weight: 600;
$font-text: 16px;
$font-large: 24px;

$font-small: $font-text - 2px;
$font-medium: $font-text + 2px;
$font-xsmall: $font-small - 2px;
$font-xlarge: $font-large * 2;