html, body{
    margin: 0;
    padding: 0;
    font-family: 'Faunces';
}

body{
    height: 100%;
}

header, footer {
    height: 80px;
    width: 100%;
    background-color: #F3C75E;
}

main{
    /* max-width: 1024px; */
    margin: 0 auto;
    background-color: #EED7D7;
}

.container{
    width: 100% - 32px;
    padding: 32px;
}

.container > section {
    text-align: center;
    color: gray;
    min-height: 20px;
    min-width: 200px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: lightblue; /* TODO, quitar el color */
}

#specifics img {
    border-radius: 50%;
}

.box-stroke{
    outline-width: 3px;
    outline-style: solid;
    padding-left: 10px;
    padding-right: 10px;
}

.blockTitle{
    font-weight: 600;
    color: #EED7D7;
    font-size: 32px;
    margin-bottom: 10px;
    width: auto;
    height: 38px;
}

p {
    color: #4E6398;
    font-weight: 600;
    font-size: 16px;
}

[class*="circle"]{
    width: 130px;
    height: 130px;
    object-fit: cover;
}

[class*="rectangle"]{
    width: 200px;
    height: 150px;
    object-fit: cover;
}


[class*="col-specifics"]{
    width: 100%;
}

[class*="col-details"]{
    width: auto;
}

#hiking_2, #dance, #food_2, #food_3, #max, #ambar  {display: none;}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-specifics-m {width: 45%;}
    #specifics {display: flex; column-gap: 10%;}
    #details section {display: flex; column-gap: 5%; justify-content: center;}
    .circle-m {width: 150px; height: 150px;}
    .rectangle-m {width: 250px; height: 200px;}
    #funFacts > .col-specifics-m {width: 100%;}
    #dailyLife > .col-specifics-m {width: 100%;}
    #dance, #food_2, #max {display:unset;}
}

@media only screen and (min-width: 1100px) {
    /* For desktop: */
    .col-specifics-g {width: 45%;}
    #specifics {display: flex; column-gap: 10%;}  
    .circle-g {width: 200px; height: 200px;}
    .rectangle-g {width: 300px; height: 250px;}
    #funFacts, #dailyLife {display: flex; column-gap: 10%;}
    #hiking_2, #dance, #food_2, #food_3, #max, #ambar {display:unset;}
}
 