
<section id="contact" >
    <hr />
    <p class="contactContent-m contactContent-g" > 
        +52 33 3465 4505<br>
        lilia.arceli@gmail.com<br><br>
        Follow me on <a href="https://www.linkedin.com/in/lilialobato/">@Linkedin</a><br>
        Follow me on <a href="https://www.instagram.com/lobatolilia/">@Instagram</a><br><br>
        
        Follow my hardware projects: <a href="https://hackaday.io/lobatolilia">@Hackaday</a><br>
        Follow my software projects: <a href="https://github.com/LiliaLobato">@Github</a><br>
    </p>
</section>