
<section id="education">
    <div class="fila">
        <div class="columna-education columna-education-tablet columna-education-desktop columna-education-monitor" >
            <article id="hobbies" class="box-stroke-m box-stroke-g">
                <div class="blockTitle">
                    BSc. in Computer Systems Engineering
                </div>
                <section>
                    <img id="hiking_1" src="/assets/img/cover.jpg" alt="Hiking Mount Rainier" class="rectangle-m rectangle-g">
                </section>
                <p>
                    ITESO (2021/ May 2023) <br>
                    Awarded “Certificate of International & Intercultural Competencies”
                </p>
            </article>
        </div>
        <div class="columna-education columna-education-tablet columna-education-desktop columna-education-monitor" >
            <article id="hobbies" class="box-stroke-m box-stroke-g">
                <div class="blockTitle">
                    BSc. in Computer Systems Engineering
                </div>
                <section>
                    <img id="hiking_1" src="/assets/img/cover.jpg" alt="Hiking Mount Rainier" class="rectangle-m rectangle-g">
                </section>
                <p>
                    ITESO (2021/ May 2023) <br>
                    Awarded “Certificate of International & Intercultural Competencies”
                </p>
            </article>
        </div>
        <div class="columna-education columna-education-tablet columna-education-desktop columna-education-monitor" >
            <article id="hobbies" class="box-stroke-m box-stroke-g">
                <div class="blockTitle">
                    BSc. in Computer Systems Engineering
                </div>
                <section>
                    <img id="hiking_1" src="/assets/img/cover.jpg" alt="Hiking Mount Rainier" class="rectangle-m rectangle-g">
                </section>
                <p>
                    ITESO (2021/ May 2023) <br>
                    Awarded “Certificate of International & Intercultural Competencies”
                </p>
            </article>
        </div>
        <div class="columna-education columna-education-tablet columna-education-desktop columna-education-monitor" >
            <article id="hobbies" class="box-stroke-m box-stroke-g">
                <div class="blockTitle">
                    BSc. in Computer Systems Engineering
                </div>
                <section>
                    <img id="hiking_1" src="/assets/img/cover.jpg" alt="Hiking Mount Rainier" class="rectangle-m rectangle-g">
                </section>
                <p>
                    ITESO (2021/ May 2023) <br>
                    Awarded “Certificate of International & Intercultural Competencies”
                </p>
            </article>
        </div>
    </div>    
 </section>