@use 'sass:math';
@import '/src/sass/colors';
@import '/src/sass/fonts';
@import '/src/sass/mixins';


.fila > div[class ^="columna-"]{
    min-height: 100px;
}

.fila {
    > div.columna-education  { 
        width: 100%; 
        padding: $default-padding;
    }
}
 
#education {
    text-align: center;
    outline-color: $color-font;
    > .blockTitle   { color: $color-font; }
    > p { 
        color: $color-font;
        &#infoSchool {
            margin-bottom: 0; padding-bottom: 0; 
            margin-top: math.div($default-padding,2);
            font-size: $font-medium;
            font-weight: $font-weight;
        }
        &#details {
            padding-top: 0;     margin-top: 0; 
            padding-bottom: 0;  margin-bottom: 0;
        }
    }
}


#education {
    .pink {
        outline-color: $color-pink;
        > .blockTitle   { color: $color-pink; }
        > p { color: $color-pink; }
    }
    .blue {
        outline-color: $color-blue;
        > .blockTitle   { color: $color-blue; }
        > p { color: $color-blue; }
    }
    .lightGreen {
        outline-color: $color-green;
        > .blockTitle   { color: $color-green; }
        > p { color: $color-green; }
    }
}

@include tablet  {  
    .fila > div.columna-education-tablet { width: 50%;}
}

@include desktop {  
    .fila > div.columna-education-desktop { width: 33%;}  
}
