
<section id="experience">

        <section id="specificExperience">
            <article id="tattoo" class="col-image" >
                <div class="blockTitle" >
                    Fun Facts
                </div>
                <img src="/assets/img/cover.jpg" alt="Tattoo" class="circle-m circle-g">
            </article>
            <article id="horror" class="col-info">
                <p>
                    Swimming biomechanics<br>"Training tracker mobile app"
                </p>
            </article>
        </section>
        
        <section id="specificExperience">
            <article id="tattoo" class="col-image" >
                <div class="blockTitle" >
                    Fun Facts
                </div>
                <img src="/assets/img/cover.jpg" alt="Tattoo" class="circle-m circle-g">
            </article>
            <article id="horror" class="col-info">
                <p>
                    Swimming biomechanics<br>"Training tracker mobile app"
                </p>
            </article>
        </section>
    
</section>