<section id="menu">
    <article id="education" class="col-menu-m col-menu-g">
        <a routerLink="/education">
            <div  class="blockTitle" >
                education
            </div>
        </a>
    </article>
    <article id="projects" class="col-menu-m col-menu-g">
        <a routerLink="/projects">
            <div  class="blockTitle" >
                projects
            </div>
        </a>
    </article>
    <article id="experience" class="col-menu-m col-menu-g">
        <a routerLink="/experience">
            <div  class="blockTitle" >
                experience
            </div>
        </a>
    </article>
    <article id="archivements" class="col-menu-m col-menu-g">
        <a routerLink="/archivements">
            <div  class="blockTitle" >
                archivements
            </div>
        </a>
    </article>
    <article id="contact" class="col-menu-m col-menu-g">
        <a routerLink="/contact">
            <div  class="blockTitle" >
                contact
            </div>
        </a>
    </article>
</section>