<section id="menu">
    <article id="education" class="col-menu-m col-menu-g">
        <a routerLink="/education">
            <div  class="blockTitle" >
                Education
            </div>
        </a>
    </article>
    <article id="projects" class="col-menu-m col-menu-g">
        <a routerLink="/projects">
            <div  class="blockTitle" >
                Projects
            </div>
        </a>
    </article>
    <article id="experience" class="col-menu-m col-menu-g">
        <a routerLink="/experience">
            <div  class="blockTitle" >
                Experience
            </div>
        </a>
    </article>
    <article id="archivements" class="col-menu-m col-menu-g">
        <a routerLink="/archivements">
            <div  class="blockTitle" >
                Achivements
            </div>
        </a>
    </article>
    <article id="contact" class="col-menu-m col-menu-g">
        <a routerLink="/contact">
            <div  class="blockTitle" >
                Contact Me!
            </div>
        </a>
    </article>
</section>